.profile__info{
	width: 336px;
	padding: 0 0 0 30px;
	display: grid;
	grid-template-columns: minmax(294px, max-content) minmax(24px, max-content);
	grid-template-rows: minmax(39px, max-content) minmax( 18px, max-content);
	
	grid-template-areas:
	"title btn"
	"subtitle subtitle";
	justify-content: center;
	row-gap: 16px;
	column-gap: 18px;
}

@media all and (max-width: 895px){
	.profile__info{
		width: 282px;
		padding: 26px 0 0 0;
		row-gap: 14px;
		column-gap: 10px;

		grid-template-columns: minmax(189px, max-content) minmax(18px, max-content);
		grid-template-rows: minmax(26px, max-content) minmax( 14px, max-content);
		
		text-align: center;
	}
}