.access__signin{
	/* width: 358px; */
	padding-top: 15px;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;

}

@media all and (max-width: 895px){
	.access__signin{
		max-width: 260px;
		padding-top: 20px;
	}
}