.element__btn-delete{
	background-image: url('../../../image/btn-delete.svg');
	width: 18px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	position: absolute;
	top: 18px;
	right: 15px;
	background-color: rgba(0, 0, 0, 0);
	transition: opacity 1s ease;
}

.element__btn-delete:hover{
	opacity: 0.6;
	cursor: pointer;
}
