.access__password{
	width: 358px;
	margin: 0 auto;
	background-color: black;
	border: none;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 216px;
	padding: 0;
	padding-bottom: 13px;
	color: #FFFFFF;

	font-size: 14px;
	line-height: 17px;
}

@media all and (max-width: 895px){
	.access__password{
		max-width: 260px;
		margin-bottom: 173px;
	}
}